{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/recommendations.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <!-- Playfair Display -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- raleway -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Movieslens</title>
  </head>
  <body style="background-image: url('{% static "images/image.jpg"%}')";>
    <nav style="color:white;">
        <ul style="color:white;">
          <li id="logo"><a style="color: white;text-decoration: none;" href="/"><b>MOVIESLENS</b></a></li>
          <li><a style="color: white ;text-decoration: none;" href="/">Home</a></li>
          <li>Top Genre</li>
          <li>New Release</li>
          <li data-toggle="modal" data-target="#myModal">About US</li>
        </ul>
      </nav>
    <div class="container">
      
    

    <div style=" color:rgb(202,240,248); ">
                <div class="movie" >
                    <h2 ><b><center>Movie Recommendations for You Are</center></b></h2>
                    
                    {% if l %}
                    
                    {% for i in l %}
                    <center>
                    <div class="card" style="width: 75%;color:white;padding:20px;border-radius:25px;background-color: rgba(0, 0, 8, 0.15);" title="{{i.title}}">
                        
                          
                        <div class="child">
                          <table >


                            <tr><th style="padding:10px" rowspan="7"><img style="border-radius:25px;" class="card-img-top" height="360" width="240" alt="{{i.title}}" src="{{i.poster}}">
                            </th>
                              <th colspan="2"><h3 class="card-title"><b>{{i.title}}</b></h3></th></tr>
                          
                          
                            <tr><td colspan="2"><h5>{{i.description}}</h5></td></tr>
                            <tr><td>
                          <h3>IMDB Rating:</h3></td>
                          
                          <td><h3>cast:</h3></td></tr>
                          
                          <tr><td><h5>{{i.rating}}</h5>
                          </td><td>
                          <ul>
                          {% for j in i.cast %}
                          <li><h5>{{j}}</h5></li><br>
                          {% endfor %}
                          </ul></td>
                          </tr>
                          <tr><td>
                          <h3>Director:</h3></td>
                          <td><h3>Release Date:</h3><br>
                          </td></tr>
                          <tr><td>
                          <h5>{{i.director}}</h5></td>
                          
                          <td>
                          <h5>{{i.date}}</h5></td></tr>
                          <tr><td><h3>Runtime:</h3><br></td>
                          <td><h5>{{i.runtime}} minutes</h5></td></tr>
                          </table>
                        </div>
                    </div>
                    </center>
                    <br>
                    {% endfor %}
                    {% else %}
                    <br><center>
                    <h1 style="color:red;">Sorry please try a good combination</h1></center>
                    {% endif %}
                    <center><div class="button-holder-2">
                    <a href="/genres"><button >Go Back And Try Again !</button></a></div></center>
                </div>
    </div>


    <!-- pop-up model -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h1>About Us!</h1>
              </div>
              <div class="modal-body">
                <img src="{% static '/images/Screenshot (220).png' %}" alt="">
              </div>                    
          </div>                      
      </div>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>